@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext);
.body{
font-family: 'Lato', sans-serif;}
.logo {
margin-top: 270px;
}

.main p {
text-align: center;}

.jeden{
background: url(img/1.jpg) center top no-repeat;
    margin-top: -20px;
    height: 879px;
    width: 1500 px;
   
}

.dwa{
background: url(img/2.jpg) center top no-repeat;
    
    height: 823px;
}

.bialy{
color: white;
font-family: 'Lato', sans-serif;
margin-top: 50px;}

.rozmiar{
font-size: 20px;
margin-top: 50px;}

.wiecej{
color: whitesmoke;
text-align: right}

.trzy {
background: url(img/3.jpg) center top no-repeat;
height: 790px;}

.odstep {
margin-top: 20px;
}

.dol {
padding-top: 10%;
}

.odstep2 {
margin-top: 50px;
}



.cztery {
    background: url(img/4.jpg) center top no-repeat;
    height: 545px;
}